#gmpopup {

	/* Which font is it? */
	text-align: right;
	font-family: sans-serif;

	/* What colour is it? */
	background-color: #fee;
	color: black;

	/* Where it is? */
	position: fixed;
	bottom: 0;
	right: 0;

	/* What's around it? */
	margin: 40px 0px;
	padding: 20px;

	/* What's underneath it? */
	opacity: 0.6;
	box-shadow: 10px 10px 5px #ccc;
	border-radius: 10px 0px 0px 10px;
}

#gmpopup:hover {
	opacity: 1.0;
}
