#gmpopup {

	/* Which font is it? */
	text-align: right;
	font-family: sans-serif;

	/* What colour is it? */
	background-color: #fee;
	color: black;

	/* Where is it? */
	position: fixed;
	bottom: 0;
	right: -270px;

	/* What's around it? */
	width: 300px;
	margin: 40px 0px;
	padding: 20px;

	/* What's underneath it? */
	opacity: 0.5;
	box-shadow: 10px 10px 5px #ccc;
	border-radius: 10px 0px 0px 10px;

	/* For Safari 3.1 to 6.0 */
	-webkit-transition-property: right opacity;
	-webkit-transition-duration: 2s;
	-webkit-transition-timing-function: linear;

	/* Standard syntax */
	transition-property: right opacity;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	transition-timing-function: ease-in-out;
}

/* Change style on hover */
#gmpopup:hover {

	opacity: 0.9;
	right: 0px;
}
